{% extends 'index.html' %}

{% block content %}

<h4 id="text">Add your pet to the adoption list:</h4>
<div class="container col-md-8">
    <form id="add-pet-form", method="POST">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->

        {% for field in form if field.widget.input_type != 'hidden'%}
            <p>
                {{field.label}}
                {{field(class_="form-control")}}
            </p>
        {% endfor %}
        <button class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}